.container { 
    flex-basis: 700px;
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 40px;
    color: #a52a2a;
    font-size: 20px;
    background: white;
    border-radius: 10px;
}