.form {
    flex-basis: 550px;
    margin: 0 auto;
}

.fieldset {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(250, 250, 246, 0.568);
}

.fieldset__legend {
    color: white;
    border: 1px solid black;
    border-radius:10px;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
    background-color: hsla(258, 77%, 55%, 0.493); 
    font-weight: bold;
}


.fieldset__currency {
    align-items: left;
    max-width: 200px;
    display: inline-block;
}

.fieldset__button {
    background-color: hsla(258, 77%, 55%, 0.493); 
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    max-width: 700px;
    margin: 10px;
    padding: 10px;
    margin-inline: 5px; 
    font-weight: bold;
    transition: 0.1s;
    cursor: pointer;
}

.fieldset__buttonContainer {
    text-align: center;
  }

.fieldset__button:hover {
    background-color: hsla(258, 57%, 45%, 0.493);
    transition: 0.1s;
    scale: 1.01;
}

.fieldset__button:active {
    background-color: hsla(258, 87%, 50%, 0.603);
}

.fieldset__supplement {
    font-size: small;
    margin:auto;
    text-align: right;
}




