.form {
    flex-basis: 550px;
    margin: 0 auto;
}

.fieldset {
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(239, 240, 184);
}

.fieldset__currency {
    align-items: left;
    max-width: 200px;
    display: inline-block;
}