html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    padding: 20px;
    margin:0 auto;
    background-image: url("./backgroundCurrency.jpg");
    background-size: cover;
    background-position: center;
}